version: '{build}'
platform: x64
configuration: Release
os: Visual Studio 2019
stack: go 1.14

clone_folder: c:\gopath\src\github.com\ciehanski\pigeon

environment:
  GOPATH: c:\gopath

install:
  - set PATH=C:\msys64\usr\bin;%PATH%
  - set MSYSTEM=MINGW64
  - bash -lc "pacman -Sy --noconfirm --needed base-devel mingw-w64-i686-toolchain mingw-w64-x86_64-toolchain git mingw-w64-i686-cmake mingw-w64-x86_64-cmake"

build_script:
  - set MSYSTEM=MINGW64
  - bash -lc "export PATH=/mingw64/bin:$PATH && cd /c/gopath/src/github.com/ciehanski/pigeon/cmd/pigeon && CGO_ENABLED=1 GO111MODULE=on /c/go/bin/go build -a -installsuffix cgo -ldflags '-s' ."

test_script:
  - set PATH=C:\msys64\mingw64\bin;%PATH%
  - cd c:\gopath\src\github.com\ciehanski\pigeon
  - go test -v -race -bench -cpu=1,2,4 ./...

artifacts:
  - path: pigeon.exe